
<mat-card  class="loginCard">
  <mat-label class="title">Nome</mat-label>
    <mat-form-field appearance="fill">
      <mat-label>Enter your name</mat-label>
      <input matInput placeholder="Enter your name" required>
    </mat-form-field>
  <mat-label class="title" style="margin-top: 1px">Cognome</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Enter your surname</mat-label>
    <input matInput placeholder="Enter your surname" required>
  </mat-form-field>
  <mat-label class="title"  style="margin-top: 1px">Data di nascita</mat-label>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <div style="display:flex; align-items:flex-start">
    <mat-form-field>
      <mat-label>Via</mat-label>
      <input matInput placeholder="Inserisci la via">
    </mat-form-field>
    <mat-form-field>
      <mat-label>CAP</mat-label>
      <input matInput placeholder="Inserisci il CAP">
    </mat-form-field>
  </div>
  <div style="display:flex; align-items:flex-start">
    <mat-form-field>
      <mat-label>Città</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Stato</mat-label>
      <mat-select>
        <mat-option>None</mat-option>
        <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <mat-label class="title" style="margin-top: 1px">Email</mat-label>
  <mat-form-field appearance="fill">
    <mat-label >Enter your email</mat-label>
    <input matInput placeholder="pat@example.com" [formControl]="email" required>
    <mat-icon matSuffix>mail</mat-icon>
    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>
  <mat-label class="title" style="margin-top: 1px;">Password</mat-label>
  <mat-form-field appearance="fill">
    <mat-label>Enter your password</mat-label>
    <input matInput [type]="hide ? 'password' : 'text'">
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
  </mat-form-field>
  <mat-card-actions class="actions">
    <button mat-raised-button class="loginButton">Registrati</button>
  </mat-card-actions>
  <mat-card-actions class="actions">
    <button mat-raised-button class="loginButton">Registrati con Facebook</button>
  </mat-card-actions>
  <mat-card-actions class="actions">
    <button mat-raised-button class="loginButton">Registrati con google</button>
  </mat-card-actions>
</mat-card>
