
<div style="display: flex; flex-direction: column;">
    <div style="flex: 1 1 auto;"></div>
    <img mat-card-image src="/assets/LOGO.JPG" style="width: 350px; height: 300px; align-self: center;">
    <div style="align-self: center;"><h1>Work in progress...</h1> </div>
    <div style="flex: 1 1 auto;"></div>
</div>


<mat-card class="vetrina">
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>arrow_back_ios</mat-icon>
  </button>
  <div class="wineCard">
    <img mat-card-image src="{{'data:image/png;base64,' + wines[0].foto}}">
    <mat-card-content>
      <mat-card-title>{{wines[0].nome}}</mat-card-title>
      <mat-card-subtitle>{{wines[0].vino_cantina.nome}}</mat-card-subtitle>
      <h3>{{wines[0].prezzo}}$</h3>
    </mat-card-content>
  </div>
  <div class="recensione">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{reviews[0].recensione_sommelier.nome}}</mat-card-title>
        <mat-card-subtitle>{{reviews[0].data}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{reviews[0].descrizione}}
      </mat-card-content>
  </div>
  <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>arrow_forward_ios</mat-icon>
  </button>
</mat-card>
