<p>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Vinoteque</span>
      <span class="spacer"></span>
      <span>
        <mat-form-field appearance="fill" class="search">
          <input matInput placeholder="search">
            <button mat-icon-button matSuffix>
              <mat-icon matSuffix>search</mat-icon>
            </button>
        </mat-form-field>
      </span>
      <span class="spacer"></span>
      <button mat-icon-button class="account">
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button class="cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row>
      <div class="viewList">
        <button mat-raised-button color="primary">Shop</button>
        <button mat-raised-button color="primary">Vini Rossi</button>
        <button mat-raised-button color="primary">Vini Bianchi</button>
        <button mat-raised-button color="primary">Vini Rosé</button>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</p>
