.mainContainer{
  display: flex;
  flex-direction: row;
}

.leftContainer{
  width: 20%;
}

.rightContainer{
  width: 66%;
}

#requestContainer{
  display: flex;
  flex-direction: column;
}

#confirmRequest{
  background-color: rgb(37, 97, 209);
  width: 150px;
}

#userDataDiv{
  display: flex;
  width: 400px;
}

.fill{
  width: 7%;
}

.spacer{
  flex: 1 1 auto;
}

.wineCardContainer {
  display: flex;
  flex-wrap: wrap;
  margin-right: 150px;
}

@media (max-width: 750px){
  .mainContainer{
    display: flex;
    flex-direction: column;
  }

  .leftContainer{
    margin-left: 15px;
    height: 65%;
    width: 200px;
  }

  .rightContainer{
    height: 35%;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
