<div class="mainContainer">

  <span class="fill"></span>

  <div class="leftContainer">
    <p style="margin-left: 15px; background-color: lightyellow">IL MIO ACCOUNT</p>
    <mat-nav-list>
      <a mat-list-item (click)="clickUser()">DATI PROFILO</a>
      <a mat-list-item (click)="clickOrders()">ORDINI</a>
      <a mat-list-item (click)="clickFavorites()">PREFERITI</a>
      <a mat-list-item *ngIf="utente.ruolo=='UTENTE'" (click)="clickBecomeSommelier()">DIVENTA SOMMELIER</a>
      <a mat-list-item *ngIf="utente.ruolo=='ADMIN'" (click)="clickViewRequest()">VISUALIZZA RICHIESTE SOMMELIER</a>
      <a mat-list-item *ngIf="utente.ruolo=='ADMIN'" (click)="clickViewAddWine()">AGGIUNGI VINO</a>
    </mat-nav-list>
  </div>


  <span class="fill"></span>


  <div class="rightContainer" *ngIf="showUserPage">
    <p><strong>DATI DI ACCESSO</strong></p>
    <div id="userDataDiv" style="margin-top: 20px;">
      <p>EMAIL</p>
      <span class="spacer"></span>
      <p>PASSWORD</p>
    </div>
    <div id="userDataDiv">
      <p>{{utente.email}}</p>
      <span class="spacer"></span>
      <div style="display: flex; height: 25px;">
        <p>**********<button mat-icon-button style="scale: 70%;" (click)="clickChangePassword()">
          <mat-icon>edit</mat-icon>
          </button>
        </p>
      </div>
    </div>
    <p><strong>DATI PERSONALI</strong></p>
    <div id="userDataDiv">
      <p>NOME</p>
      <span class="spacer"></span>
      <p>COGNOME</p>
      <span class="spacer"></span>
      <p>INDIRIZZO</p>
    </div>
    <div id="userDataDiv">
      <p>{{utente.nome}}</p>
      <span class="spacer"></span>
      <p style="margin-left: 20px;">{{utente.cognome}}</p>
      <span class="spacer"></span>
      <p>{{indirizzo}}</p>
    </div>
  </div>

  <div class="rightContainer" *ngIf="showChangePassword">
    <div style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Inserisci nuova password</mat-label>
        <input matInput #buttonPass placeholder="Inserisci nuova password">
      </mat-form-field>
        <span class="spacer"></span>
      <mat-form-field>
        <mat-label>Conferma password</mat-label>
        <input matInput #buttonPass2 placeholder="Conferma password">
      </mat-form-field>
      <button mat-fab extended style="background-color: rgb(61, 10, 213);" (click)="changePassword(utente,buttonPass.value, buttonPass2.value)">Cambia password</button>
    </div>
  </div>

  <div class="rightContainer" *ngIf="showOrdersPage">
    <h1><strong><em>ORDINI EFFETTUATI</em></strong></h1>
    <app-order-card *ngFor="let order of orders" [order]="order">
    </app-order-card>
  </div>


  <div class="rightContainer" *ngIf="showFavoritesPage">
    <div>
      <h1><strong><em>VINI PREFERITI</em></strong></h1>
    </div>
    <div class="wineCardContainer">
      <app-wine-card (valueChanged)="reload($event)" *ngFor="let wine of favorites index as i" [wine]="wine" [index]="wine.id">
      </app-wine-card>

    </div>
  </div>


  <div class="rightContainer" id="requestContainer" *ngIf="showBecomeSommelier">
    <p>Inserisci matricola</p>
    <mat-form-field>
      <mat-label>ES. 213962</mat-label>
      <input matInput #bottone>
    </mat-form-field>
    <button mat-fab extended id="confirmRequest" (click)="createSommelierRequest(bottone.value)">Invia richiesta</button>
  </div>


  <div class="rightContainer" *ngIf="showRequest">
    <h1>RICHIESTE</h1>
    <div>
      <app-request-card *ngFor="let request of requestsSommelier" [request]="request">
      </app-request-card>
    </div>
  </div>

  <div class="rightContainer" style="display: flex; flex-direction: column;" *ngIf="showAddWine">
    <div style="display: flex;">
      <div>
        <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput #nome>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Annata</mat-label>
          <input matInput type="number" #annata>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Prezzo</mat-label>
          <input matInput #prezzo>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Gradazione</mat-label>
          <input matInput #gradazione>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Tipologia</mat-label>
          <input matInput #tipologia>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Cantina</mat-label>
          <input matInput #cantina>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Premi</mat-label>
          <input matInput #premi>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Descrizione</mat-label>
          <input matInput #descrizione>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Vigneto</mat-label>
          <input matInput #vigneto>
        </mat-form-field>
      </div>
      <div class="insertImage">
        <ngp-image-picker _config="borderRadius: '32px'" #immagine></ngp-image-picker>
      </div>
    </div>
    <button mat-fab extended style="background-color: blue; width: 150px;" (click)="createWine(nome.value, annata.value ,prezzo.value,gradazione.value,tipologia.value,cantina.value,premi.value,descrizione.value,vigneto.value,immagine.handleFileSelect)">Inserisci vino</button>
  </div>

  <span class="fill"></span>
</div>
