<div style="display: flex;">
  <div style="max-width: fit-content;">
    <p>IL MIO ACCOUNT</p>
    <mat-nav-list>
      <a mat-list-item>DATI PROFILO</a>
      <a mat-list-item>ORDINI</a>
      <a mat-list-item>PREFERITI</a>
    </mat-nav-list>
  </div>
  <div style="margin-left: 50px;">
    <p><strong>DATI DI ACCESSO</strong></p>
    <div style="display: flex; width: 400px; margin-top: 20px;">
      <p>EMAIL</p>
      <span style="flex: 1 1 auto;"></span>
      <p>PASSWORD</p>
    </div>
    <div style="display: flex; width: 400px;">
      <p>getEmail</p>
      <span style="flex: 1 1 auto;"></span>
      <div style="display: flex;">
        <p>getPassword</p>
        <mat-icon style="scale: 60%">edit</mat-icon>
      </div>
    </div>
    <p><strong>DATI PERSONALI</strong></p>
    <div style="display: flex; width: 400px;">
      <p>NOME</p>
      <span style="flex: 1 1 auto;"></span>
      <p>COGNOME</p>
      <span style="flex: 1 1 auto;"></span>
      <p>INDIRIZZO</p>
    </div>
    <div style="display: flex; width: 400px;">
      <p>getNome</p>
      <span style="flex: 1 1 auto;"></span>
      <p>getCognome</p>
      <span style="flex: 1 1 auto;"></span>
      <p>getIndirizzo</p>
    </div>
  </div>
</div>
