<mat-card class="item-card">
  <mat-card-content>
    <div class="riga">
      <span class="spacer"></span>
      <div class="colonna">
        <div>{{order.id}}</div>
        <div>{{order.metodo_pag}}</div>
      </div>
      <span class="spacer"></span>
      <div class="colonna">
        <div>{{order.totale}}</div>
        <div>{{order.data}}</div>
      </div>
      <span class="spacer"></span>
      <div style="align-self: center; color: green;">{{order.status}}</div>
    </div>
  </mat-card-content>
</mat-card>
