.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content{
  background-color:white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden{
  display: none;
}


.search{
  margin-top: 20px;
  width: 500px;
  height: 70px;
}

.Credits{
  background-color: bisque;
  height: 500px;
}
