.sidenav-container {
  height: 100%;
}

.title:hover{
  cursor: pointer;
}

.sidenav {
  width: 200px;
}

.mat-sidenav-content{
  background-color:white;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden{
  display: none;
}


.search{
  margin-top: 20px;
  width: 500px;
  height: 70px;
}

.Credits{
  background-color: bisque;
  height: 500px;
}

.page{
  display: flex;
}

.sidebar {
  width: 200px;
  background-color: white;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}


.footer{
  display: flex;
  flex-direction: column;
}

.riga{
  display: flex;
  flex-direction: row;
}
