
<section>
  <span class="spacer" ></span>
  <div class="filterContainer">
    <mat-nav-list>
      <h2 style="text-align: center; margin-top: 20px;">Filtra:</h2>
      <a mat-list-item >Gradazione</a>
      <a mat-list-item>Prezzo</a>
    </mat-nav-list>
  </div>
  <span class="spacer" ></span>
    <div class="wineCardContainer">
      <app-wine-card *ngFor="let wine of wines index as i" [wine]="wine" [index]="wine.id">
      </app-wine-card>
    </div>
    <mat-paginator [length]="100"
              [pageSize]="10"
              aria-label="Select page">
    </mat-paginator>
</section>

