<div class="container">
  <div>
    <div style="display: flex;">
      <h1><strong>Carrello</strong></h1>
      <p style="margin-left: 20px; align-self: center;">(num articoli)</p>
    </div>
    <div style="display: flex;">
      <p>PRODOTTO</p>
      <p style="margin-left: 300px;">QUANTITA'</p>
      <p style="margin-left: 130px;">PREZZO</p>
    </div>
    <span class="spacer"></span>
    <div class="item-container">
      <app-item-cart></app-item-cart>
      <app-item-cart></app-item-cart>
      <app-item-cart></app-item-cart>
      <app-item-cart></app-item-cart>
      <app-item-cart></app-item-cart>
    </div>
    <div style="display: flex;">
      <h4 style="margin-left: 490px;"><strong>TOTALE PRODOTTI</strong></h4>
      <h4 style="margin-left: 65px;"><strong>10,90€</strong></h4>
    </div>
  </div>
  <mat-card style="margin-left: 136px; background-color: lightyellow; width: 400px; max-height: 450px;">
    <div style="display: flex;">
      <p style="margin-top: 10px; margin-left: 15px;"><strong>TOTALE PRODOTTI</strong></p>
      <span class="spacer"></span>
      <p style="margin-top: 10px; margin-right: 15px;"><strong>10,90€</strong></p>
    </div>
    <p style="margin-left: 15px;">NAZIONE DI SPEDIZIONE:   (GETNAZIONE)</p>
    <p style="margin-left: 15px; color: green;"><mat-icon style="color: green;">local_shipping</mat-icon> CIAO SONO UN CAMIONCINO DELLE CONSEGNE</p>
    <p style="margin-left: 15px;">METODO DI PAGAMENTO:</p>
    <mat-radio-group style="margin-left: 15px; display: flex; flex-direction: column;">
      <mat-radio-button>
        Bestemmie
      </mat-radio-button>
      <mat-radio-button>
        Finocchi
      </mat-radio-button>
      <mat-radio-button>
        Sgnaffi sul gnulo
      </mat-radio-button>
    </mat-radio-group>
    <div style="display: flex;">
      <input type="text" placeholder="Codice sconto" style="margin-left: 15px;">
      <button mat-flat-button style="margin-left: 5px; background-color: lightyellow;">Inserisci</button>
    </div>
    <div style="margin-left: 15px; display: flex;">
      <h4><strong>TOTALE ORDINE</strong></h4>
      <span class="spacer"></span>
      <h4><strong>(totale)</strong></h4>
    </div>
    <span class="spacer"></span>
    <button mat-raised-button style="background-color: lightgreen;">PAGA BASTARDO!</button>
    <span class="spacer"></span>
  </mat-card>
</div>
