<mat-card class="item-card">
  <mat-card-content>
    <img src="https://data.callmewine.com/imgprodotto/kike-cantine-fina-2021_41073_ico.jpg" class="item-img">
    <div class="textContainer">
      <p>vino rosso</p>
      <p style="color: green;">Disponibilità immediata</p>
    </div>
    <span class="spacer"></span>
    <mat-form-field appearance="outline" class="quantity">
      <mat-label>Quantità</mat-label>
      <input matInput [(ngModel)]="quantity" type="number" min="1" max="10">
    </mat-form-field>
    <span class="spacer"></span>
    <div style="margin-top: 10px; font-size: 20px;">10,90€</div>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-icon-button class="favorite">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="delete">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
