.container{
  display: flex;
  flex-direction: row;
  width: 750px;
  justify-content: space-between;
}

.spacer {
  flex: 1 1 auto;
}

.small{
  height: 25px;
  width: 25px;
  align-self: center;
}

.textContainer{
  align-self: center;
}
