<div class="container">
  <img src="https://data.callmewine.com/imgprodotto/kike-cantine-fina-2021_41073_ico.jpg" style="height: 100px; width:60px;">
  <div class="textContainer">
    <p>vino rosso</p>
    <p style="color: lightgreen;">Disponibilità immediata</p>
  </div>
  <span class="spacer"></span>
  <button mat-raised-button class="small">-</button>
  <p style="align-self: center;">1</p>
  <button mat-raised-button class="small" style="margin-right: 68px">+</button>
  <span class="spacer"></span>
  <p style="align-self: center;">10,90€</p>
  <button mat-icon-button color="warn" style="align-self: center; margin-left: 5px;">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button style="align-self: center; margin-left: 5px;">
    <mat-icon>close</mat-icon>
  </button>
</div>
