<mat-card class="item-card">
  <mat-card-content>
    <img src="{{'data:image/png;base64,' + wine.foto}}" class="item-img">
    <div class="textContainer">
      <p>{{wine.nome}}</p>
      <p style="color: green;">Disponibilità immediata</p>
    </div>
    <span class="spacer"></span>
    <mat-form-field appearance="outline" class="quantity">
      <mat-label>Quantità</mat-label>
      <input matInput [(ngModel)]="quantity" type="number" min="1" max="10">
    </mat-form-field>
    <span class="spacer"></span>
    <div style="margin-top: 10px; font-size: 20px;">{{(wine.prezzo.valueOf()*quantity).toFixed(2)}}</div>
    <span class="spacer"></span>
    <mat-card-actions>
      <button mat-icon-button class="favorite" (click)="createFavorite()">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="delete" (click)="removeItem()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card-content>
</mat-card>
