<mat-card class="example-card">
  <img mat-card-image src="https://data.callmewine.com/imgprodotto/kik%C3%A8-cantine-fina-2021_41073.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <mat-card-title>Nome Vino</mat-card-title>
    <mat-card-subtitle>Nome Cantina</mat-card-subtitle>
    <h3>99.99$</h3>
  </mat-card-content>
  <mat-card-actions>
    <div class="listButton">
      <button mat-icon-button class="cart">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="favorite">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

