<mat-card class="card">
  <img mat-card-image src="{{'data:image/png;base64,' + wine.foto}}" routerLink="/shop/{{index}}">
  <mat-card-content routerLink="/shop/{{index}}">
    <mat-card-title>{{wine.nome}}</mat-card-title>
    <mat-card-subtitle>{{wine.vino_cantina.nome}}</mat-card-subtitle>
    <h3>{{wine.prezzo}}$</h3>
    <h3>{{wine.gradazione_alcolica}}%</h3>
  </mat-card-content>
  <mat-card-actions>
    <div class="listButton">
      <button mat-icon-button class="cart" (click)="addCart()">
        <mat-icon>shopping_cart</mat-icon>
      </button>
      <button mat-icon-button class="favorite" (click)="favorite()">
        <mat-icon #iconPreferito [ngStyle]="{'color': isPreferito ? 'red' : 'black'}">favorite</mat-icon>
      </button>
    </div>
  </mat-card-actions>
</mat-card>

