.example-card {
  margin-top: 50px;
  max-width: 1600px;
  margin-left: 150px;
  margin-right: 150px;
  margin-bottom: 50px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

mat-card-actions{
  align-self:flex-end;
}

mat-card-header{
  justify-content: flex-start;
  display: flex;
  display: 1 0;
}

.spacer {
  flex: 1 1 auto;
}

.menu{
  margin-bottom: 30px;
  align-self: flex-end;
  align-content: flex-end;
}


