<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{review.recensione_sommelier.nome}}</mat-card-title>
    <mat-card-subtitle>{{review.data}}</mat-card-subtitle>
    <div class="spacer"></div>
    <mat-card-actions>
      <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_horiz</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>warning</mat-icon>
            <span>Segnala</span>
          </button>
          <button mat-menu-item disabled>
            <mat-icon>delete_forever</mat-icon>
            <span>Elimina</span>
          </button>
        </mat-menu>
      </div>
    </mat-card-actions>
  </mat-card-header>
  <mat-card-content>
    {{review.descrizione}}
  </mat-card-content>
  <mat-card-actions>
  </mat-card-actions>
</mat-card>
