<!--<section class="container">
  <section class="container">
    <span class="spacer"></span>
    <h2>Ho già un account</h2>
    <span class="spacer"></span>
    <h2>Non sono ancora registrato</h2>
    <span class="spacer"></span>
  </section>
  <section class="container">
    <div *ngIf="!hideRegistration">
      <span class="spacer"></span>
      <button mat-raised-button color="lightgreen">Accedi</button>
      <app-login-card></app-login-card>
    </div>
    <div *ngIf="hideRegistration">
      <button mat-raised-button color="lightgreen">Registrati</button>
      <app-registration-card></app-registration-card>
      <span class="spacer"></span>
    </div>
  </section>
</section>-->
<mat-grid-list cols="2" rowHeight="30px">
  <mat-grid-tile rowspan="2" style="background-color: blue;">
    <span class="spacer"></span>
    <h2>Ho già un account</h2>
    <span class="spacer"></span>
  </mat-grid-tile>
  <mat-grid-tile rowspan="2" style="background-color: blueviolet;">
    <span class="spacer"></span>
    <h2>Non sono ancora registrato</h2>
    <span class="spacer"></span>
  </mat-grid-tile>
  <mat-grid-tile rowspan="25" style="background-color: cadetblue;">
    <button mat-raised-button #bottone1 (click)="onClick()" *ngIf="!hideRegistration">Accedi</button>
    <app-login-card *ngIf="hideRegistration">
    </app-login-card>
  </mat-grid-tile>
  <mat-grid-tile rowspan="25" style="background-color: forestgreen;">
    <button mat-raised-button #bottone2 (click)="onClick()" *ngIf="hideRegistration">Registrati</button>
    <app-registration-card *ngIf="!hideRegistration">
    </app-registration-card>
  </mat-grid-tile>
</mat-grid-list>
