.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.hidden{
  display: none;
}


.search{
  margin-top: 20px;
  border-radius: 20%;
  outline-color: rgb(0, 245, 73);
  width: 500px;
  height: 70px;
}
