<section>
  <span class="spacer"></span>
  <div class="filterContainer">
    <mat-nav-list>
      <h2 style="text-align: center; margin-top: 20px;">Filtra:</h2>
      <a mat-list-item (click)="openRangeGradation()">Gradazione</a>
      <div *ngIf="filterGradation">
        <div style="display: flex; width: 150px;">
          <label>{{minValue}}</label>
          <span style="width: 220px;"></span>
          <label>{{maxValue}}</label>
        </div>
        <mat-slider min="200" max="500">
          <input value="300" matSliderStartThumb>
          <input value="400" matSliderEndThumb>
        </mat-slider>
      </div>
      <a mat-list-item (click)="openRangePrezzo()">Prezzo</a>
      <div *ngIf="filterPrice">
        <mat-slider min="200" max="500">
          <input value="300" matSliderStartThumb>
          <input value="400" matSliderEndThumb>
        </mat-slider>
      </div>
      <a mat-list-item>Cantina</a>
    </mat-nav-list>
  </div>
  <span class="spacer"></span>
    <div class="wineCardContainer">
      <app-wine-card *ngFor="let wine of wines" [wine]="wine" [index]="wine.id" [preferito]="-1">
      </app-wine-card>
    </div>
</section>
